body.bgHeader{
  overflow: hidden scroll !important;
}

.content .listnip #liststruktur{
  width:90vw !important;
  margin-top:4vh !important;
  margin-bottom: 7vh !important;
  font-size:.8em !important;
}

.content .listnip #liststruktur ul li{
  padding:.8em .7em !important;
}

div.listnip table#menuBox{
  margin-top:4vh !important;
  margin-bottom: 0 !important;
   width:auto !important;
  font-size:.7em !important;
  background: none !important;
}


div.listnip table.table-striped tbody tr:nth-child(odd) td{
  width:90vw !important;
  line-height:1.7em !important;
  font-weight: 400 !important;
  padding:.8em !important;
  border-radius: 12px !important;
 
  background-color: rgba(255, 255, 1, 0.45) !important;
}

div.listnip table.table-striped tbody tr:nth-child(even) td{
  width:90vw !important;
  line-height:1.7em !important;
  font-weight: 400 !important;
  padding:.8em !important;
  border-radius: 12px !important;

  background-color: #f8f88559 !important;
}

.bgHeader div.breadcrumb{
  width:100vw !important;
  text-align: center !important;
  padding:.3em 0 !important;
  margin-bottom:2vh !important;
  
}
.bgHeader div.breadcrumb span{
  float:left !important;
  width:10vw !important;
  padding:0 1vw !important;
  font-size:.8em !important;
}
.bgHeader div.breadcrumb #newsticker{
  float:left !important;
  width:88vw !important;
  font-size:.8em !important;
  height:inherit !important;
  overflow: hidden !important;
}
